.content_container {
  max-width: 60rem;
  min-width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-section {
  max-width: 60rem;
  min-width: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fab {
  position: fixed;
  left: 90rem;
  top: 15vh;
}
