.search_bar input[type="text"] {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    /* Adjust width as needed */
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 20px;
}