.activities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background: #8f95a300;
  margin: 10px 0px;
  width: 100%;
}

.activity {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: vertical;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  height: 20vh;
  cursor: pointer;
}

.activity_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 10px;
  width: 100%;
}

.activity_element h3 {
  margin: 4% 0 2px 0;
  color: #4c4e61;
  font-size: 140%;
}

.activity_element p {
  margin: 0px 20px 10px 20px;
  color: #344352;
  font-size: 80%;
  height: 100%;

}

.rate-div{
   margin-top: 60px;
}

.rate-btn, .rate-span{
  color: #0e63be;
}
.rate-span{
  vertical-align: middle;
  padding-left: 5px;
}

.rate-btn{
  vertical-align: middle;
}

.activity_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 10px;
  width: 30%;
}

img.activity_element {
  height: 92%;
  width: auto;
  /* Maintains aspect ratio */
  border-radius: 15px;
}

.activity:hover {
  transform: scale(1.03);
}

.activity_checkbox {
  size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16.1111 3C19.6333 3 22 6.3525 22 9.48C22 15.8138 12.1778 21 12 21C11.8222 21 2 15.8138 2 9.48C2 6.3525 4.36667 3 7.88889 3C9.91111 3 11.2333 4.02375 12 4.92375C12.7667 4.02375 14.0889 3 16.1111 3Z' fill='red' stroke='none' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    /* Set heart SVG as background */
   /* Set star SVG as background */
  background-size: contain;
  border: none;
  /* Remove default border */
  border-radius: 5px;
  /* Add border radius */
  transition: all 0.1s ease;
}

.activity:hover {
    transform: scale(1.03);
}

.activity:mousedown {
    transform: scale(1.1);
}

.activity_checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16.1111 3C19.6333 3 22 6.3525 22 9.48C22 15.8138 12.1778 21 12 21C11.8222 21 2 15.8138 2 9.48C2 6.3525 4.36667 3 7.88889 3C9.91111 3 11.2333 4.02375 12 4.92375C12.7667 4.02375 14.0889 3 16.1111 3Z' fill='none' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
}

#rating_text {
  color: #03396c;
  font-size: 80%;
  margin: 5px 0;
}

#user_text {
  color: #a3a5ae;;
  font-size: 90%;
  font-family: inherit;
  margin: 0px 0px 10px 0px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    font-size: 20px;
  }

  to {
    transform: rotate(360deg);
    font-size: 50px;
  }
}

.trashbtn {
  font-size: 35px;
  color: aliceblue;
  cursor: pointer;
  padding-bottom: 3px;
}

.trashbtn:hover {
  font-size: 40px;
  color: #d10a0a;
  cursor: pointer;
}

.onclickButtons {
  flex-direction: row;
}

.small-star-icon {
  width: 20px;
  height: 20px;
}