.review-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 16rem;
  padding: 1rem;
  background: linear-gradient(343deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 39%);
  border-radius: 10px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}


.title {
  margin-bottom: 0.5rem;
}

.author-text {
  margin: 0 0 0 0;
  color: gray;
  font-size: small;
}

.report-btn {
  border-radius: 15px;
}

.report-btn:hover {
  color: #d10a0a;
}
